button, a, h1, h2, h3, h4, h5, h6 {
    color: #6441a4!important;
    text-decoration: none!important;
}

p, li {
    color: #2D3461!important;
}

hr {
    margin-bottom: 2px;
}

button:hover, a:hover {
    color: #7D5ABE!important;
}

button:active, a:active {
    color: #6441A5!important;
}

.wrapper {
    width: 600px;
    height: auto;
    padding: 5px;
}

.message {
    position: relative;
    width: auto;
    padding: 5px;
}

.message h1 {
    font-size: 17px;
    font-weight: bold;
}

.message p {
    font-size: 15px;
    font-weight: 600;
}

.message li {
    font-weight: bold;
}

.bottom-notice {
    font-weight: bold;
    text-align: center;
    padding-top: 6px;
    margin-bottom: 0px;
}