button, a, h1, h2, h3, h4, h5, h6 {
    color: #6441a4!important;
    text-decoration: none!important;
}

p, li {
    color: #2D3461!important;
}

hr {
    margin-bottom: 2px;
}

button:hover, a:hover {
    color: #7D5ABE!important;
}

button:active, a:active {
    color: #6441A5!important;
}

/*Vertical seperator*/
.v-seperator {
    margin: 5px;
    height: auto;
    border: 1px solid rgba(0,0,0,0.05)
}

.h-seperator {
    margin: 5px;
    width: auto;
    border: 1px solid rgba(0,0,0,0.05)
}

.wrapper {
    width: 600px;
    height: auto;
    padding: 5px;
}

.message {
    position: relative;
    width: auto;
    padding: 5px;
}

.message h1 {
    font-size: 17px;
    font-weight: bold;
}

.message p {
    font-size: 15px;
    font-weight: 600;
}

.message li {
    font-weight: bold;
}

.profile {
    padding: 5px;
}

.profile .profile-img {
    border: 1px solid #6441a4;
    border-radius: 50%;
    width: auto;
    height: auto;
}

.profile .profile-img img {
    width: 128px;
    height: auto;
    border-radius: 50%;
}

.profile .profile-links ul {
    text-align: center;
    margin:0;
    padding: 0;
    list-style-type: none;
}

.profile .profile-links ul li {
    display: inline;
    padding-right: 5px;
}

.card-body {
    border-bottom: 1px solid #00000020!important;
}